<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_FILE" value="${CATALINA_BASE:-..}/logs/server.log" />
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org.springframework.web" level="INFO" />
	<logger name="com.gxecard.customerservice" level="INFO" />

</configuration>